# Created by https://www.gitignore.io/api/java,maven,eclipse,intellij,java-web

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
/.idea/
/.idea
/.idea_modules/
/*.iml
/*.iws
/*.ipr
/out/
/modules.xml

### Java ###
# Compiled class file
*.class

# Log file
*.log
log/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### Java-Web ###
## ignoring target file
/target/
target/

### Maven ###
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/

# End of https://www.gitignore.io/api/java,maven,eclipse,intellij,java-web
.DS_Store

